nav {
    ul {           
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;

        @media screen and (max-width: 1024px) {
            display: block;
        }
                    
        li {
            text-align: center;
            display: inline-block;
            text-decoration: none;
            color: rgba(41, 47, 54, 1);
            font-family: "Jost-Regular";
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.4px;
            cursor: pointer;
            
            @media screen and (max-width: 1024px) {
                display: block;
                padding: 10px;
            }
        }

        li:hover {
            color: rgba(205, 162, 116, 1);
        }
    }
}

@media screen and (max-width: 1024px) {
    nav {
        ul {           
                        
            li {
                text-align: center;
                display: block;
                text-decoration: none;
                color: rgba(41, 47, 54, 1);
                font-family: "Jost-Regular";
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.4px;
                cursor: pointer;
                // border: 1px solid blue;
            }
    
            li:hover {
                color: rgba(205, 162, 116, 1);
            }
        }
    }
}
