@font-face {
    font-family: "Jost-Regular"; 
    src: url("../fonts/Jost-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "DMSerifDisplay-Regular"; 
    src: url("../fonts/DMSerifDisplay-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 