// Colors
$dark-gray: rgb(41, 47, 54);
$gray: rgb(77, 80, 83);
$white: rgb(255, 255, 255);
$white-beige: rgb(244, 240, 236);
$light-white: rgb(231, 231, 231);
$dunkelbeige: rgb(205, 162, 116);
$light-gray: rgb(229, 229, 229);

// Fonts
$DMSerifDisplay: "DMSerifDisplay-Regular";
$Jost: "Jost-Regular";