@import '../../styles/values.scss';

.container-footer {
    margin: 0 auto 100px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 330px 125px 125px 320px;
    gap: 100px;

    .container-info-footer,
    .container-pages-footer,
    .container-explore-footer,
    .container-contact-footer {
        display: grid;
        justify-items: center;

        .title {
            width: 100%;
            text-align: left;
            margin-bottom: 20px;
        }
    }

    .container-info-footer {

        .description-footer {
            font-family: $Jost;
            font-size: 22px;
            line-height: 33px;
            letter-spacing: 0.22px;
            color: $gray;

            @media screen and (max-width: 660px) {
                text-align: center;
                padding: 0 30px;
            }

            @media screen and (max-width: 480px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .container-contact-footer {
        @media screen and (max-width: 1100px) {
            .title {
                h3 {
                    text-align: center;
                }
            }

            .padding {
                li {
                    text-align: center;
                }
            }
        }
    }

    .social-networks {
        @media screen and (max-width: 1100px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
        }

        .icons {
            margin: 20px 20px 0 0;
            color: $dark-gray;
            font-size: 20px;
            cursor: pointer;

            @media screen and (max-width: 1100px) {
                margin: 30px auto;
            }
        }
    }

    h3 {
        font-family: $DMSerifDisplay;
        font-size: 25px;
        line-height: 37px;
        letter-spacing: 0.22px;
        font-weight: 400;
        color: $dark-gray;

    }

    li {
        font-family: $Jost;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        color: $gray;
    }

    .padding li {
        padding: 10px 0;
        font-family: $Jost;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.22px;
        color: $gray;
        cursor: pointer;

        @media screen and (max-width: 480px) {
            font-size: 20px;
            line-height: 22px;
        }
    }

}

hr {
    color: $light-gray;
}



.copyright {
    padding: 20px;
    font-family: $Jost;
    font-size: 22px;
    line-height: 33px;
    text-align: center;

    @media screen and (max-width: 480px) {
        font-size: 18px;
        line-height: 22px;
    }

    .spanFooter {
        font-family: $Jost;
        font-size: 22px;
        line-height: 33px;
        color: $dunkelbeige;
        cursor: pointer;

        @media screen and (max-width: 480px) {
            font-size: 18px;
            line-height: 22px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .container-footer {
        max-width: 1200px;
        display: grid;
        justify-content: center;
        // grid-template-columns: 330px 125px 125px 320px;
        gap: 50px;
    }
}

@media screen and (max-width: 1100px) {
    .container-footer {
        grid-template-columns: 1fr;
    }
}